<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Opengento_Featuretoggle Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Opengento
 * @copyright  Copyright (c) 2017 Opengento
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

-->
<config>
    <tabs>
        <opengento_featuretoggle translate="label">
            <label>Opengento - Feature Toggle</label>
            <sort_order>300</sort_order>
        </opengento_featuretoggle>
    </tabs>
    <sections>
        <featuretoggle_config translate="label">
            <label>Configuration</label>
            <tab>opengento_featuretoggle</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <features>
                    <label>Feature toggle</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <values>
                            <label>Values</label>
                            <frontend_model>opengento_featuretoggle/adminhtml_form_field_features</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </values>
                    </fields>
                </features>
            </groups>
        </featuretoggle_config>
    </sections>
</config>